*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #AAA;
    height: 10vh;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    width: 100%;
    margin-bottom: 2%;
}

header nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul li{
    list-style: none;
    padding: 0 10px;
}

header nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    margin-right: 1%;
}

h1{
    color: #C82829;
    text-align: center;
    margin-top: 15px;
}

.resp{
    width: 100%;
    height: auto;
}

article{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}

article .container{
    border: #fc6a03 2px solid;
    border-radius: 16px;
    text-align: center;
    width: 30%;
    height: auto;
    margin: 20px 0;
    padding: 10px;
}

.container div,
.container h2,
.container p,
.btn-main{
    margin: 5px 0;
}

.btn-main{
    padding: 10px 0;
}

.container div a{
    background-color: #C82829 ;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    padding: 3px 5px;
    margin: 20px;
}

.form-container{
    text-align: center;
    margin: 20px 0;

}

footer{
    display: flex;
    padding: 10px 10px;
    align-items: center;
    justify-content: space-between;
    background-color: #f3e7e9;
}

footer .img-footer{
    width: 10%;
}