<article>
    <h2>{{ book.title }}</h2>
    <p>{{ book.resume }}</p>
    <span> Auteur du livre : {{ book.author }}</span>
    <br>
    <strong> Nombre de Pages: {{ book.nbpages }}</strong>
    <hr>
</article>