{% extends 'admin/base.html.twig'%}

{% block main %}
    <article>
        <h2>{{ book.title }}</h2>
        <p>{{ book.resume }}</p>
        <div><img src="http://placehold.it/60x100"></div>
        <p>{{ book.auteur.name }}</p>
        <p> Nombre de Pages: {{ book.nbpages }}</p>
        <hr>
    </article>
{% endblock %}